################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/deploy
/Nav.Utilities/bin/Debug
/Nav.Utilities/obj/Debug

/Nav.Language/bin/Debug
/Nav.Language/obj/Debug

/Nav.Language.BuildTasks/bin/Debug
/Nav.Language.BuildTasks/obj/Debug

/Nav.Language.CodeAnalysis/bin/Debug
/Nav.Language.CodeAnalysis/obj/Debug

/Nav.Language.Extension/bin/Debug
/Nav.Language.Extension/obj/Debug

/Nav.Language.Extension/Templates/ItemTemplates/*.zip
/Nav.Language.Extension.Tests/bin/Debug
/Nav.Language.Extension.Tests/obj/Debug
/Nav.Language.Service/bin/Debug
/Nav.Language.Service/obj/Debug

/Nav.Language.ServiceHost/bin/Debug
/Nav.Language.ServiceHost/obj/Debug

/Nav.Cli/bin/Debug
/Nav.Cli/obj/Debug

/Nav.Language.Tests/bin/Debug
/Nav.Language.Tests/obj/Debug
/Nav.Language.Tests/Regression/Tests/**/*.cs
!/Nav.Language.Tests/Regression/**/*.expected.cs

/.vs
/**/*.generated.cs
TestResult.xml

