################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Nav.Utilities/bin/Debug
/Nav.Utilities/obj/Debug
/Nav.Utilities/ThisAssembly.generated.cs
/Nav.Language/bin/Debug
/Nav.Language/obj/Debug
/Nav.Language/ThisAssembly.generated.cs
/Nav.Language.CodeAnalysis/bin/Debug
/Nav.Language.CodeAnalysis/obj/Debug
/Nav.Language.CodeAnalysis/ThisAssembly.generated.cs
/Nav.Language.Extension/bin/Debug
/Nav.Language.Extension/obj/Debug
/Nav.Language.Extension/ThisAssembly.generated.cs
/Nav.Language.Extension/ItemTemplates/*.zip
/Nav.Language.HostService/bin/Debug
/Nav.Language.HostService/obj/Debug
/Nav.Language.HostService/ThisAssembly.generated.cs
/Nav.TestClient/bin/Debug
/Nav.TestClient/obj/Debug
/Nav.Language.Tests/bin/Debug
/Nav.Language.Tests/obj/Debug
/.vs